DJANGO_SETTINGS_MODULE=backend.settings.dev

DB_HOST=db
DB_PORT=5432
DB_NAME=departmentdb
DB_USER=postgres
DB_PASSWORD=supersecret123

POSTGRES_DB=departmentdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecret123